{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>您好呀，{{ current_user.username }} ， 智源创沃团队向您问好！</h1>
    </div>
    <div class="page-header">
        {% for i in roomlist %}
        <p>{{ i }}   <a href="{{ url_for('main.join_chat_room', rname=i) }}" class="btn btn-default" role="button">加入该群聊</a></p>
        {% endfor %}
    </div>
  {% if can_create %}
  <form action="{{ url_for('main.create_room') }}" method="POST" class="comment-form">
        <div class="form-group comment-form-author">
            <label for="chatroomname">群聊名称 <span class="required">*</span></label>
            <input class="form-control" id="chatroomname" name="chatroomname" type="text" value="" size="30" aria-required='true' />
        </div>
        <div class="form-group comment-form-comment">
            <label for="description">群聊的描述 <span class="required">*</span></label>
            <textarea class="form-control" id="description" name="description" cols="45" rows="6"></textarea>
        </div>
        <button  name="submit" type="submit" id="submit" class="btn btn-primary" value="Submit Comment">创建群聊</button>
  </form>
  {% endif %}
</div>
{% endblock %}