{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>您好呀，{{ current_user.username }} ， 智源创沃团队向您问好！</h1>
    </div>
    <a href="{{ url_for('main.chat_room_list') }}" class="btn btn-default" role="button">进入聊天室列表</a>
    <!-- <a href="{{ url_for('main.adduser') }}" class="btn btn-default" role="button">Add a new user</a> -->
    <a href="{{ url_for('main.listuser') }}" class="btn btn-default" role="button">查看所有用户</a>
    <!-- <a href="{{ url_for('main.addper') }}" class="btn btn-default" role="button">Add a new permission</a> -->
</div>
{% endblock %}